<!-- <section class="mt-5">
  <div class="container">
    <div class="row ">
      <div class="col-4">chart</div>
      <div class="col-4">
        <div class="row ml">
          <div class="col-6 hex mr">hex1</div>
          <div class="col-6 hex">hex2</div>
        </div>
        <div class="row">
          <div class="col-4 hex mr">hexa</div>
          <div class="col-4 hex mr">hexa</div>
          <div class="col-4  d-flex justify-content-end hex">hexa</div>
        </div>
        <div class="row m">
          <div class="col-6 hex mr">hex1</div>
          <div class="col-6 hex">hex2</div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end ">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
      </div>
    </div>
  </div>
</section> -->
<!-- <section class="mt-5">
  <div class="container">
    <div class="row ">
      <div class="col-4">chart</div>
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
          <div class="col-4 hex">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
          <div class="col-4  d-flex justify-content-end">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row m">
          <div class="col-6">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="hexagon">
              <div class="text">
                <h1>89%</h1>
                <p>My Overall Score</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-end ">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
      </div>
    </div>
  </div>
</section> -->

<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-10 mt-5 position-relative l-chart">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          <div class="col-10 mt-4   position-relative l-chart">
            <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
          </div>
          <div class="col-10 mt-4  position-relative l-chart">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-4  for-chart">
        <div class="row d-flex ">
          <div class="col-6">
            <div class="hexagon">
              <div class="text">
                <div>
                  <h5 class="fs-19 fw-700">Engaging</h5>
                  <div>
                    <i class="fas fa-award c-purple"></i>
                    <p class="fw-600 c-green fs-15">25.05%</p>
                  </div>
                  <div class="row mt">
                    <div class="col-6">
                      <i class="fas fa-spinner c-purple"></i>
                      <span  class="d-flex pl-19 fw-600 c-green fs-15 ">32.21%</span>
                    </div>
                    <div class="col-6">
                      <i class="fas fa-trophy c-purple"></i>
                      <span class="d-flex pl-19 fw-600 c-green fs-15">28.21%</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 hexa-green before-green after-green">
            <div class="hexagon ml border-leftborder-left">
              <div class="text">
                <div>
                  <h5 class="fs-19 fw-700">NPS</h5>
                  <div>
                    <i class="fas fa-award c-purple"></i>
                    <p class="fw-600 c-green fs-15">25.05%</p>
                  </div>
                  <div class="row mt">
                    <div class="col-6">
                      <i class="fas fa-spinner c-purple"></i>
                      <span  class="d-flex pl-19 fw-600 c-green fs-15 ">32.21%</span>
                    </div>
                    <div class="col-6">
                      <i class="fas fa-trophy c-purple"></i>
                      <span class="d-flex pl-19 fw-600 c-green fs-15">28.21%</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row middle row-line">
          <div class="col-4 d-fex justify-content-first ">
            <div class="hexagon hexa-left ">
              <div class="text">
                <div>
                  <h5 class="fs-19 fw-700">Using</h5>
                  <div>
                    <i class="fas fa-award c-purple"></i>
                    <p class="fw-600 c-green fs-15">25.05%</p>
                  </div>
                  <div class="row mt">
                    <div class="col-6">
                      <i class="fas fa-spinner c-purple"></i>
                      <span  class="d-flex pl-19 fw-600 c-green fs-15 ">32.21%</span>
                    </div>
                    <div class="col-6">
                      <i class="fas fa-trophy c-purple"></i>
                      <span class="d-flex pl-19 fw-600 c-green fs-15">28.21%</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 hexa-right ">
            <div class="hexagon b-purple ">
              <div class="text">
                <div>
                  <h2 class="fw-700 c-green">87.88%</h2>
                  <div class=" mt-4">
                    <div class="row">
                      <div class="col-12 d-flex justify-content-center">
                        <h5 class="fw-400 c-white">5.51%</h5>
                        <i class="fas fa-arrow-up fw-600 fs-19 c-green"></i>
                      </div>
                      <div class="col-12 mt-2">
                        <span  class=" fw-400 c-white fs-13">
                          Target 81.60%
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 pl hexa-green before-green after-green ">
            <div class="hexagon">
              <div class="text">
                <div>
                  <h5 class="fs-19 fw-700">CSAT</h5>
                  <div>
                    <i class="fas fa-award c-purple"></i>
                    <p class="fw-600 c-green fs-15">25.05%</p>
                  </div>
                  <div class="row mt">
                    <div class="col-6">
                      <i class="fas fa-spinner c-purple"></i>
                      <span  class="d-flex pl-19 fw-600 c-green fs-15 ">32.21%</span>
                    </div>
                    <div class="col-6">
                      <i class="fas fa-trophy c-purple"></i>
                      <span class="d-flex pl-19 fw-600 c-green fs-15">28.21%</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row middle">
          <div class="col-6">
            <div class="hexagon">
              <div class="text">
                <div>
                  <h5 class="fs-19 fw-700">Evaluation</h5>
                  <div>
                    <i class="fas fa-award c-purple"></i>
                    <p class="fw-600 c-green fs-15">25.05%</p>
                  </div>
                  <div class="row mt">
                    <div class="col-6">
                      <i class="fas fa-spinner c-purple"></i>
                      <span  class="d-flex pl-19 fw-600 c-green fs-15 ">32.21%</span>
                    </div>
                    <div class="col-6">
                      <i class="fas fa-trophy c-purple"></i>
                      <span class="d-flex pl-19 fw-600 c-green fs-15">28.21%</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 hexa-green before-green after-green">
            <div class="hexagon ml">
              <div class="text">
                <div>
                  <h5 class="fs-19 fw-700">CES</h5>
                  <div>
                    <i class="fas fa-award c-purple"></i>
                    <p class="fw-600 c-green fs-15">25.05%</p>
                  </div>
                  <div class="row mt">
                    <div class="col-6">
                      <i class="fas fa-spinner c-purple"></i>
                      <span  class="d-flex pl-19 fw-600 c-green fs-15 ">32.21%</span>
                    </div>
                    <div class="col-6">
                      <i class="fas fa-trophy c-purple"></i>
                      <span class="d-flex pl-19 fw-600 c-green fs-15">28.21%</span> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-10 mt-5 position-relative r-chart">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          <div class="col-10 mt-4 position-relative r-chart">
            <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
            </canvas>
          </div>
          <div class="col-10 mt-4 position-relative r-chart">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
</div>